# How often it should make a backup to the remote backup host
# The interval is written in the CRON format
#
# Tip: You can use this tool to make it easier: https://crontab.guru/
BACKUP_CRON_INTERVAL="0 1 * * 1"



# IP address of the remote SFTP backup host
SFTP_HOST_IP="XXX.XXX.XXX.XXX"

# Port number that is configured for SFTP on the remote backup host
SFTP_HOST_PORT=22

# Username that will be used to authenticate with the remote server
SFTP_HOST_USERNAME="backup_user"

# Password that will be used to authenticate with the remote server
#
# Note: The password needs to be obfuscated using "rclone obscure"
# See the "Obfuscate passwords" section in the README for instructions
SFTP_HOST_PASSWORD="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"

# Full path to the desired location of the backup on the remote server
SFTP_HOST_DESTINATION_PATH="/mnt/backup_drive/docker-remote-backup-data"



# The directory that will be mounted as `/data` in the container
# This will be mounted as read-only for extra security
#
# If you plan on working with symlinks, the symlink source 
# and destination should be somewhere inside this directory.
# Also needs to be a RELATIVE symlink, otherwise the container can't resolve the path.
SOURCE_CONTEXT_DIRECTORY="/mnt/main_drive"

# The directory that should be mirrored to the remote host
# Is relative from the context directory option
# If the directory doesn't exist yet, create it before starting the container.
# In case you want to mirror the entire context directory, set this value to ""
SOURCE_DIRECTORY="/backup"

# Password that will be used to encrypt/decrypt the backups
#
# Note: The password needs to be obfuscated using "rclone obscure"
# See the "Obfuscate passwords" section in the README for instructions
SOURCE_ENCRYPTION_PASSWORD=""

# Salt that will be used to encrypt/decrypt the backups, in combination with the password
#
# Note: The salt needs to be obfuscated using "rclone obscure"
# See the "Obfuscate passwords" section in the README for instructions
SOURCE_ENCRYPTION_SALT=""
